In [501]:
import pandas as pd
import matplotlib.pyplot as plt

import pyarrow.parquet as pq
import numpy as np

data = pd.read_csv('/Users/Boaz/Documents/DataMining/dataset_mood_smartphone.csv')

In [502]:
df = pd.DataFrame(data)

In [503]:
del df['Unnamed: 0']

# Drop NaN values rows

In [504]:
# # FIND NAN VALUES AND THEIR INDEX 
# count_nan = df['value'].isnull()
# nan_index = []
# for i in range(len(count_nan)):
#     if count_nan[i] == True:
#         nan_index.append(i)

In [505]:
# # DELETE THE ROWS WITH NAN VALUES
# df.drop(labels=nan_index, axis=0)

## Make variables as columns

In [506]:
data_mood_only = df[df["variable"] == 'mood']
data_mood_only = data_mood_only.rename(columns={'value': 'mood'})
# data_mood_only

In [507]:
circumplex_arousal_only = df[df["variable"] == 'circumplex.arousal']
circumplex_arousal_only = circumplex_arousal_only.rename(columns={'value': 'circumplex.arousal'})
# circumplex_arousal_only

In [508]:
circumplex_valence_only = df[df["variable"] == 'circumplex.valence']
circumplex_valence_only = circumplex_valence_only.rename(columns={'value': 'circumplex.valence'})
#circumplex_valence_only

In [509]:
activity = df[df["variable"] == 'activity']
activity = activity.rename(columns={'value': 'activity'})
#activity

In [510]:
screen = df[df["variable"] == 'screen']
screen = screen.rename(columns={'value': 'screen'})
#screen

In [511]:
sms = df[df["variable"] == 'sms']
sms = sms.rename(columns={'value': 'sms'})
#sms

In [512]:
appCat_builtin = df[df["variable"] == 'appCat.builtin']
appCat_builtin = appCat_builtin.rename(columns={'value': 'appCat.builtin'})
#appCat_builtin

In [513]:
appCat_communication = df[df["variable"] == 'appCat.communication']
appCat_communication = appCat_communication.rename(columns={'value': 'appCat.communication'})
#appCat_communication

In [514]:
appCat_entertainment = df[df["variable"] == 'appCat.entertainment']
appCat_entertainment = appCat_entertainment.rename(columns={'value': 'appCat.entertainment'})
#appCat_entertainment

In [515]:
appCat_finance = df[df["variable"] == 'appCat.finance']
appCat_finance = appCat_finance.rename(columns={'value': 'appCat.finance'})
#appCat_finance

In [516]:

appCat_game = df[df["variable"] == 'appCat.game']
appCat_game = appCat_game.rename(columns={'value': 'appCat.game'})
#appCat_game

In [517]:
appCat_office = df[df["variable"] == 'appCat.office']
appCat_office = appCat_office.rename(columns={'value': 'appCat.office'})
#appCat_office

In [518]:
appCat_other = df[df["variable"] == 'appCat.other']
appCat_other = appCat_other.rename(columns={'value': 'appCat.other'})
#appCat_other

In [519]:
appCat_social = df[df["variable"] == 'appCat.social']
appCat_social = appCat_social.rename(columns={'value': 'appCat.social'})
#appCat_social

In [520]:
appCat_travel = df[df["variable"] == 'appCat.travel']
appCat_travel = appCat_travel.rename(columns={'value': 'appCat.travel'})
#appCat_travel

In [521]:
appCat_unknown = df[df["variable"] == 'appCat.unknown']
appCat_unknown = appCat_unknown.rename(columns={'value': 'appCat.unknown'})
#appCat_unknown

In [522]:
appCat_utilities = df[df["variable"] == 'appCat.utilities']
appCat_utilities = appCat_utilities.rename(columns={'value': 'appCat.utilities'})
#appCat_utilities

In [523]:
appCat_weather = df[df["variable"] == 'appCat.weather']
appCat_weather = appCat_weather.rename(columns={'value': 'appCat.weather'})

In [524]:
df['mood'] = data_mood_only['mood']
df['circumplex.arousal'] = circumplex_arousal_only['circumplex.arousal']
df['circumplex.valence'] = circumplex_valence_only['circumplex.valence']
df['activity'] = activity['activity']
df['screen'] = screen['screen']
df['sms'] = sms['sms']
df['appCat.builtin'] = appCat_builtin['appCat.builtin']
df['appCat.communication'] = appCat_communication['appCat.communication']
df['appCat.entertainment'] = appCat_entertainment['appCat.entertainment']
df['appCat.finance'] = appCat_finance['appCat.finance']
df['appCat.game'] = appCat_game['appCat.game']
df['appCat.office'] = appCat_office['appCat.office']
df['appCat.other'] = appCat_other['appCat.other']
df['appCat.social'] = appCat_social['appCat.social']
df['appCat.travel'] = appCat_travel['appCat.travel']
df['appCat.unknown'] = appCat_unknown['appCat.unknown']
df['appCat.utilities'] = appCat_utilities['appCat.utilities']
df['appCat.weather'] = appCat_weather['appCat.weather']
df

,id,time,variable,value,mood,circumplex.arousal,circumplex.valence,activity,screen,sms,...,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
0,AS14.01,2014-02-26 13:00:00.000,mood,6.000,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AS14.01,2014-02-26 15:00:00.000,mood,6.000,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AS14.01,2014-02-26 18:00:00.000,mood,6.000,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AS14.01,2014-02-26 21:00:00.000,mood,7.000,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AS14.01,2014-02-27 09:00:00.000,mood,6.000,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376907,AS14.30,2014-04-11 07:51:16.948,appCat.weather,8.032,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.032
376908,AS14.30,2014-04-19 11:00:32.747,appCat.weather,3.008,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.008
376909,AS14.30,2014-04-26 10:19:07.434,appCat.weather,7.026,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.026
376910,AS14.30,2014-04-27 00:44:48.450,appCat.weather,23.033,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.033
376911,AS14.32,2014-04-07 18:25:14.036,appCat.weather,22.431,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.431

In [525]:
# compression_opts = dict(method='zip',
#                         archive_name='dataset_columns.csv')  
# df.to_csv('dataset_columns.zip', index=False,
#           compression=compression_opts)

# Aggregate Time , how to handle the different variables?

In [526]:
d = {}
ids = df['id'].unique()
for id in ids:
    data_per_id = df.loc[(df['id'] == id)]
    ## Set timestamp to 24 hour
    data_per_id_time = data_per_id.set_index(['time'])
    data_per_id_time.index = pd.to_datetime(data_per_id_time.index)
    # Get the values for each variable
    # Mean of in range values
    mood_agg = data_per_id_time.resample('24H').agg({'mood': 'mean'})
    arousal_agg = data_per_id_time.resample('24H').agg({'circumplex.arousal': 'mean'})
    valence_agg = data_per_id_time.resample('24H').agg({'circumplex.valence': 'mean'})
    ## Sum duration of each activity 
    activity_agg = data_per_id_time.resample('24H').agg({'activity': 'sum'})
    screen_agg = data_per_id_time.resample('24H').agg({'screen': 'sum'})
    sms_agg = data_per_id_time.resample('24H').agg({'sms': 'sum'})
    builtin_agg = data_per_id_time.resample('24H').agg({'appCat.builtin': 'sum'})
    communication_agg = data_per_id_time.resample('24H').agg({'appCat.communication': 'sum'})
    entertainment_agg = data_per_id_time.resample('24H').agg({'appCat.entertainment': 'sum'})
    finance_agg = data_per_id_time.resample('24H').agg({'appCat.finance': 'sum'})
    game_agg = data_per_id_time.resample('24H').agg({'appCat.game': 'sum'})
    office_agg = data_per_id_time.resample('24H').agg({'appCat.office': 'sum'})
    other_agg = data_per_id_time.resample('24H').agg({'appCat.other': 'sum'})
    social_agg = data_per_id_time.resample('24H').agg({'appCat.social': 'sum'})
    travel_agg = data_per_id_time.resample('24H').agg({'appCat.travel': 'sum'})
    unknown_agg = data_per_id_time.resample('24H').agg({'appCat.unknown': 'sum'})
    utilities_agg = data_per_id_time.resample('24H').agg({'appCat.utilities': 'sum'})
    weather_agg = data_per_id_time.resample('24H').agg({'appCat.weather': 'sum'})
    # create dataframe for each user!
    new_data = pd.DataFrame()
    new_data['id'] = [id]*len(mood_agg.index.values.flatten())
    new_data['time'] = mood_agg.index
    new_data['mood'] = mood_agg.values.flatten()
    new_data['circumplex.arousal'] = arousal_agg.values.flatten()
    new_data['circumplex.valence'] = valence_agg.values.flatten()
    new_data['activity'] = activity_agg.values.flatten()
    new_data['screen'] = screen_agg.values.flatten()
    new_data['sms'] = sms_agg.values.flatten()
    new_data['appCat.builtin'] = builtin_agg.values.flatten()
    new_data['appCat.communication'] = communication_agg.values.flatten()
    new_data['appCat.entertainment'] = entertainment_agg.values.flatten()
    new_data['appCat.finance'] = finance_agg.values.flatten()
    new_data['appCat.game'] = game_agg.values.flatten()
    new_data['appCat.office'] = office_agg.values.flatten()
    new_data['appCat.other'] = other_agg.values.flatten()
    new_data['appCat.social'] = social_agg.values.flatten()
    new_data['appCat.travel'] = travel_agg.values.flatten()
    new_data['appCat.unknown'] = unknown_agg.values.flatten()
    new_data['appCat.utilities'] = utilities_agg.values.flatten()
    new_data['appCat.weather'] = weather_agg.values.flatten()
    ##
    d["user{0}".format(id)] = new_data

## As you can see below, the start time is 17-02-2014 but there is only sms information, we should only use the rows with mood values because we want to predict the mood!

In [527]:
d['userAS14.01']

,id,time,mood,circumplex.arousal,circumplex.valence,activity,screen,sms,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
0,AS14.01,2014-02-17,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
1,AS14.01,2014-02-18,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
2,AS14.01,2014-02-19,NaN,NaN,NaN,0.000000,0.000000,2.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
3,AS14.01,2014-02-20,NaN,NaN,NaN,0.000000,0.000000,3.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
4,AS14.01,2014-02-21,NaN,NaN,NaN,0.000000,0.000000,1.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,AS14.01,2014-05-01,8.0,-0.4,1.0,0.889566,15516.951998,4.0,1876.113,8191.410,470.866,1321.104,0.0,28.098,44.430,4918.942,0.000,0.000,269.569,0.0
74,AS14.01,2014-05-02,7.6,-0.2,1.0,1.856184,15088.519001,0.0,795.436,7925.918,352.888,1069.748,0.0,0.000,32.443,771.266,0.000,0.000,11.083,0.0
75,AS14.01,2014-05-03,8.0,-0.2,1.0,1.721781,8186.036001,1.0,753.257,4539.776,2761.950,296.313,0.0,0.000,40.569,205.602,143.631,30.102,125.605,0.0
76,AS14.01,2014-05-04,8.0,-0.5,1.0,2.860028,5889.194999,0.0,1758.438,3381.689,928.406,0.000,0.0,0.000,35.525,494.677,0.000,0.000,0.000,0.0
77,AS14.01,2014-05-05,NaN,NaN,NaN,0.086269,1788.734000,0.0,438.347,826.787,318.514,0.000,0.0,0.000,0.000,25.104,0.000,0.000,264.331,0.0

In [528]:
mood_agg.iloc[75]
# SEE DATE 05-03 there are no values at this date at all thats why there is a NaN value

mood   NaN
Name: 2014-05-03 00:00:00, dtype: float64

In [529]:
check = df.loc[(df['id'] == 'AS14.33') & (df['variable'] == 'mood')]
check.iloc[75]

id                                      AS14.33
time                    2014-05-04 19:00:00.000
variable                                   mood
value                                         7
mood                                          7
circumplex.arousal                          NaN
circumplex.valence                          NaN
activity                                    NaN
screen                                      NaN
sms                                         NaN
appCat.builtin                              NaN
appCat.communication                        NaN
appCat.entertainment                        NaN
appCat.finance                              NaN
appCat.game                                 NaN
appCat.office                               NaN
appCat.other                                NaN
appCat.social                               NaN
appCat.travel                               NaN
appCat.unknown                              NaN
appCat.utilities                            NaN
appCat.weather                              NaN
Name: 5524, dtype: object

# Why are there new NaN values?

There are two explanations: each user has a particular date range in which the data is achieved from, so for example id AS14.33 have only shared his values in the last days of this project. However it can also be the case that days are skipped, so a user doesnot shared his information about a day.

In [530]:
# # get all unique ids
# ids = data['id'].unique()

# for id in ids:
#   # subset dataframe for single id
#   data_per_id = data.loc[(data['id'] == id)]
#     data_per_id

## COMBINING ALL INDIVIDUAL DF TO ONE BIG DATASET

In [531]:
d.keys()

dict_keys(['userAS14.01', 'userAS14.02', 'userAS14.03', 'userAS14.05', 'userAS14.06', 'userAS14.07', 'userAS14.08', 'userAS14.09', 'userAS14.12', 'userAS14.13', 'userAS14.14', 'userAS14.15', 'userAS14.16', 'userAS14.17', 'userAS14.19', 'userAS14.20', 'userAS14.23', 'userAS14.24', 'userAS14.25', 'userAS14.26', 'userAS14.27', 'userAS14.28', 'userAS14.29', 'userAS14.30', 'userAS14.31', 'userAS14.32', 'userAS14.33'])

In [534]:
all_data = pd.concat(d.values())
all_data

,id,time,mood,circumplex.arousal,circumplex.valence,activity,screen,sms,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
0,AS14.01,2014-02-17,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
1,AS14.01,2014-02-18,NaN,NaN,NaN,0.000000,0.000000,0.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
2,AS14.01,2014-02-19,NaN,NaN,NaN,0.000000,0.000000,2.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
3,AS14.01,2014-02-20,NaN,NaN,NaN,0.000000,0.000000,3.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
4,AS14.01,2014-02-21,NaN,NaN,NaN,0.000000,0.000000,1.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,AS14.33,2014-05-27,6.2,-0.600000,0.4,0.304902,4089.879001,2.0,726.391,2078.403,124.694,0.0,0.0,0.000,142.686,2010.364,0.000,0.000,56.173,0.0
100,AS14.33,2014-05-28,8.2,0.000000,1.2,2.479228,14320.867998,1.0,2551.046,1936.415,614.706,0.0,0.0,357.909,529.946,5361.211,0.000,0.000,30.666,0.0
101,AS14.33,2014-05-29,7.0,-1.333333,1.0,4.064507,3569.341000,1.0,400.034,435.105,136.738,0.0,0.0,0.000,29.202,1789.922,0.939,0.000,3.199,0.0
102,AS14.33,2014-05-30,6.8,-0.800000,-0.4,4.050925,9497.646999,0.0,3044.030,1670.842,260.220,0.0,0.0,0.000,52.610,3166.409,1052.648,8.072,232.825,0.0
103,AS14.33,2014-05-31,7.0,-2.000000,1.0,0.000000,0.000000,0.0,0.000,0.000,0.000,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0

In [542]:
# FIND NAN VALUES AND THEIR INDEX 
count_nan = all_data['mood'].isnull().sum()
count_nan

886

In [544]:
all_data.dropna()

,id,time,mood,circumplex.arousal,circumplex.valence,activity,screen,sms,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
9,AS14.01,2014-02-26,6.250000,-0.250000,0.750000,0.000000,0.000000,2.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10,AS14.01,2014-02-27,6.333333,0.000000,0.333333,0.000000,0.000000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
32,AS14.01,2014-03-21,6.200000,0.200000,0.200000,3.083152,17978.907000,0.0,3139.218,6280.890,1007.456,49.544,0.0,172.206,239.751,4508.500,915.445,0.000,598.754,0.000
33,AS14.01,2014-03-22,6.400000,0.600000,0.500000,3.790084,6142.161000,1.0,731.429,4962.918,93.324,21.076,0.0,0.000,98.143,439.632,37.305,0.000,117.621,0.000
34,AS14.01,2014-03-23,6.800000,0.200000,0.800000,2.141117,6773.832001,0.0,1286.246,5237.319,94.346,43.403,0.0,0.000,72.823,900.839,0.000,0.000,30.086,30.386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,AS14.33,2014-05-27,6.200000,-0.600000,0.400000,0.304902,4089.879001,2.0,726.391,2078.403,124.694,0.000,0.0,0.000,142.686,2010.364,0.000,0.000,56.173,0.000
100,AS14.33,2014-05-28,8.200000,0.000000,1.200000,2.479228,14320.867998,1.0,2551.046,1936.415,614.706,0.000,0.0,357.909,529.946,5361.211,0.000,0.000,30.666,0.000
101,AS14.33,2014-05-29,7.000000,-1.333333,1.000000,4.064507,3569.341000,1.0,400.034,435.105,136.738,0.000,0.0,0.000,29.202,1789.922,0.939,0.000,3.199,0.000
102,AS14.33,2014-05-30,6.800000,-0.800000,-0.400000,4.050925,9497.646999,0.0,3044.030,1670.842,260.220,0.000,0.0,0.000,52.610,3166.409,1052.648,8.072,232.825,0.000
103,AS14.33,2014-05-31,7.000000,-2.000000,1.000000,0.000000,0.000000,0.0,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [545]:
compression_opts = dict(method='zip',
                        archive_name='all_combined.csv')  
df.to_csv('all_combined.zip', index=False,
          compression=compression_opts)